Source: sphinxsearch
Section: web
Priority: extra
Maintainer: Tom Simnett <tom@initforthe.com>
Build-Depends: debhelper (>= 5), autotools-dev, libmysqlclient15-dev, postgresql-server-dev-8.3
Standards-Version: 3.8.1
Homepage: http://www.sphinxsearch.com/
Vcs-Browser: http://github.com/simmerz/sphinx_debian/tree/master
Vcs-git: git://github.com/simmerz/sphinx_debian.git

Package: sphinxsearch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmysqlclient15off
Description: SQL full-text search engine
 Sphinx is a full-text search engine, distributed under GPL version 2.
 .
 Generally, it's a standalone search engine, meant to provide fast, 
 size-efficient and relevant fulltext search functions to other applications. 
 Sphinx was specially designed to integrate well with SQL databases and 
 scripting languages. Currently built-in data sources support fetching data 
 either via direct connection to MySQL or PostgreSQL, or using XML pipe 
 mechanism (a pipe to indexer in special XML-based format which Sphinx 
 recognizes).
 .
 The name Sphinx is an acronym which is officially decoded as SQL Phrase Index.

